/**/

body {
    background-color: #ffffff;
    font-family: verdana, "courier new";

}
.caixa-header{ /*foi criado uma caxia para envelopar e moldar o posiciobamento dos itens no cabecalho*/
    
    position: relative; /*é necessário que a caixa "levante" com posicionamento relativo para que as coisas que estão dentro(lista com posicionamento apsoluto)entrem nos requisitos da caixa*/
    width: 940px; /*adiciona uma largura padrão*/
    margin: 0 auto;/*o espacamento externo da caixa é alterado ( margin: cima-baixo esquerda-direita);*/

}

header {
    background-color: rgb(81, 160, 230);
    padding: 20px 0; /*espacamento interno aumenta (padding: cima-baixo esquerda-direita)*/

}
nav {
    position: absolute; /*altera o estilo de posição da lista de nav*/
    top: 110px;/*altera a posição em relação a página web*/
    right: 0;/*altera a posição em relação a página web*/
}
nav li{ /*mexe diretamente na lista onde tem os links*/
    display: inline; /*tira de modo block e coloca em modo inline (alinhar links)*/
    margin: 0 0 0 15px; /*coloca espaço entre os links*/
    
}

nav a { /*mexe diretamente no html dos links*/
    text-transform: uppercase; /*deixa o texto dos links em maiusculo*/
    color: #ffffff;
    font-weight: bold; /*deixa o texto em negrito*/
    font-size: 25px;
    text-decoration: none; /*tirar sublinhado do texto*/
}

nav a:hover {
    color: rgb(255, 255, 0);
    text-decoration: underline;
}

.produtos{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top; /*itens em inline-block se alinham pela ultima linha/pixel, vertival-align: top faz a referencia ser a linha/pixel de cima*/
    margin: 30px 1.5%;
    padding: 25px 0px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 12px;
}

.produtos li:hover {
    border-color: yellow;

}
.produtos li:hover h2{
    font-size: 24px;
}

.produtos li:active{
    border-color: green;
}

.produtos h2{
    font-size: 23px;
    font-weight: bold;
}
.produtos-preco{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.produtos-descricao{
    padding: 10px;
}

.rodape {
    background-color: rgb(81, 160, 230);
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: white;
    
}