/**/

body {
    background-color: #ffffff;
    font-family: verdana, "courier new";

}
.caixa-header{ /*foi criado uma caxia para envelopar e moldar o posiciobamento dos itens no cabecalho*/
    
    position: relative; /*é necessário que a caixa "levante" com posicionamento relativo para que as coisas que estão dentro(lista com posicionamento apsoluto)entrem nos requisitos da caixa*/
    width: 940px; /*adiciona uma largura padrão*/
    margin: 0 auto;/*o espacamento externo da caixa é alterado ( margin: cima-baixo esquerda-direita);*/

}

header {
    background-color: rgb(81, 160, 230);
    padding: 20px 0; /*espacamento interno aumenta (padding: cima-baixo esquerda-direita)*/

}
nav {
    position: absolute; /*altera o estilo de posição da lista de nav*/
    top: 110px;/*altera a posição em relação a página web*/
    right: 0;/*altera a posição em relação a página web*/
}
nav li{ /*mexe diretamente na lista onde tem os links*/
    display: inline; /*tira de modo block e coloca em modo inline (alinhar links)*/
    margin: 0 0 0 15px; /*coloca espaço entre os links*/
    
}

nav a { /*mexe diretamente no html dos links*/
    text-transform: uppercase; /*deixa o texto dos links em maiusculo*/
    color: #ffffff;
    font-weight: bold; /*deixa o texto em negrito*/
    font-size: 25px;
    text-decoration: none; /*tirar sublinhado do texto*/
}

nav a:hover {
    color: rgb(255, 255, 0);
    text-decoration: underline;
}

.produtos{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top; /*itens em inline-block se alinham pela ultima linha/pixel, vertival-align: top faz a referencia ser a linha/pixel de cima*/
    margin: 30px 1.5%;
    padding: 25px 0px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 12px;
}

.produtos li:hover {
    border-color: yellow;

}
.produtos li:hover h2{
    font-size: 24px;
}

.produtos li:active{
    border-color: rgb(81, 160, 230);
}

.produtos h2{
    font-size: 23px;
    font-weight: bold;
}
.produtos-preco{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.produtos-descricao{
    padding: 10px;
}


/*-----rodape-----*/
footer {
    background-color: rgb(81, 160, 230);
    color: white;
    text-align: center;
    margin-top: 90px;
}

#img-footer{
    width: 100px;
}

#text-footer {
    font-size: 10px;
}

/*------HOME------*/
#sobre {
    border: 4px solid black;
    margin: 20px 1.5%;
    border-radius: 12px;
    padding: 20px;

}

#titulo-sobre {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

#texto-missao {
    color: rgb(81, 160, 230);
    font-weight: bold;
    font-size: 19px;
    padding: 20px;
}

#beneficios {
    background-image: url(img/bg.jpg);
    margin: 20px 1.5%;
    border: 4px solid black;
    border-radius: 12px;
    padding: 20px;
}

#titulo-beneficios {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.itens {
    color: white;
}

.ul {
    display: inline-block;
    vertical-align: top;
    padding: 70px;
    font-size: 20px;
    margin-right: 100px;
}

.imagem-beneficios {
    width: 50%;
}

/*-----Contatos-----*/

#formulario {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0; /*cima-baixo esquerda-direita*/
}

form lable, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 40%;
}

.checkbox {
    margin: 20px 0;
}

.botao-enviar {
    width: 30%;
    padding: 15px 0;
    background: rgb(81, 160, 230);
    color: white;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    transition: 0.2s transform;
    cursor: pointer;
}

.botao-enviar:hover {
    background: yellow;
    transform: scale(1.1);
}

table {
    margin: 20px 40px;
}
thead {
    background: rgb(81, 160, 230);
    color: white;
    font-weight: bold;
}

td,th {
    border: 1px solid rgb(81, 160, 230);
    padding: 12px 8px;
}
